.mountains {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

.mountains--bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 72px;
  z-index: 0;
  opacity: 0.5;
}

.mountains__back {
  fill: #e79b8f;
}

.mountains__front {
  fill: #db8375;
}
